:root { --bg: #040714; --card: #1a1d29; --blue: #0063e5; --input: #31343e; }
body { background: var(--bg); color: white; font-family: 'Segoe UI', sans-serif; margin: 0; overflow: hidden; }
.hidden { display: none !important; }

/* FOCO PARA SMART TV */
.tv-focusable:focus, .poster:focus, input:focus, select:focus, .btn-ep:focus {
    outline: none;
    border: 4px solid #fff !important;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
    background-color: var(--blue) !important;
    z-index: 99;
}

.login-container { width: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }
.player-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: black; z-index: 10000; display: flex; justify-content: center; overflow-y: auto; }
.player-container { width: 95%; position: relative; padding: 20px; }
.close-player { background: #e50914; color: white; border: none; padding: 15px; border-radius: 5px; cursor: pointer; float: right; margin-bottom: 10px; }
.video-frame { width: 100%; aspect-ratio: 16/9; background: #000; clear: both; }
.video-frame video, .video-frame iframe { width: 100%; height: 100%; }

.navbar { padding: 10px 40px; background: var(--bg); }
.brand-bar { display: flex; gap: 10px; justify-content: center; margin: 15px 0; }
.brand-bar button { background: var(--card); color: white; border: 1px solid #333; padding: 12px 20px; border-radius: 8px; cursor: pointer; transition: 0.2s; }

.movie-grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px; padding: 20px 40px; height: 60vh; overflow-y: auto; }
.poster { width: 100%; aspect-ratio: 2/3; background-size: cover; border-radius: 10px; cursor: pointer; transition: 0.3s; border: 3px solid transparent; }

.episodes-grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); gap: 10px; }
.btn-ep { background: var(--card); color: white; border: 1px solid #444; padding: 15px; border-radius: 5px; }
